{% extends 'main.html' %}

{% block content %}


<p>This is a {{Apage}} Project</p>

{% if Number > 10 %}
<p>The number {{Number}} is greater than 10</p>

{% elif Number == 10 %}
<p>The number {{Number}} is exactly 10</p>

{% else %}
<p>The number {{Number}} is less than 10</p>

{% endif%}


<hr>
<h1>Projects</h1>
<ul>
    {% for project in data%}
    <li>Title : <a href="{% url 'project' project.id %}">{{project.title}}</a> ---> {{project.description}}</li>
    {% endfor%}
</ul>

{% endblock content %}
